.App {
  background-image: url('./assets/Illustration1.png'),url('./assets/Illustration2.png'),url('./assets/Illustration3.png');
  background-position: right top, left bottom, right bottom;
  background-repeat: no-repeat;
}

